.create-event-popup {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 90%;
  max-width: 400px;
  border: 1px solid #ddd;
  overflow: scroll;
  height: 90%;
}

.popup-content {
  display: flex;
  flex-direction: column;
}

.popup-content h2 {
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
  color: #333;
}

label {
  margin-bottom: 10px;
  font-size: 14px;
  color: #555;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:first-child {
  background-color: #28a745;
  color: white;
}

button:last-child {
  background-color: #dc3545;
  color: white;
}
