

.user-dashboard{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    .actionButtons{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-left: 100vh;
        justify-content: space-between;
        width:40vh;
        button{
            width: fit-content;
        }
    }
    background-image: url("img.jpg");
    /* border: 2px solid red;     */
   

}
.logo{
        
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    h1{
        color: white;
        font-size: 30px;
        font-weight: 600;
        margin-left: 20px;
    }

}

.event-list{
    padding: 10px;
}
.filters {
    margin: 20px 0;
    display: flex;
    margin: 20px;
    gap: 10px;
    align-items: center;
    /* border: 2px solid red; */
    /* padding: 10px; */
    
}
.filters input {

    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filters button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
.from{
    padding: 20px;
}
.end{
    padding: 20px;
    padding-right: 40px;
}
.mybookings{
    
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   

}

.header{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(86, 129, 181);
    
}
