.logout-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* float: right;
    flex : right; */
    /* margin-left: 100%; */
}
.my-bookings-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    
    /* margin-left: 100%; */
  }

.user-dashboard{
    padding:10px;
}

.event-list{
    padding: 10px;
}
.filters {
    margin: 20px 0;
    display: flex;
    margin: 20px;
    gap: 10px;
    align-items: center;
    /* border: 2px solid red; */
    /* padding: 10px; */
    
}
.filters input {

    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filters button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
.from{
    padding: 20px;
}
.end{
    padding: 20px;
    padding-right: 40px;
}
.mybookings{
    
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* float: right;
    flex : right; */
    /* margin-left: 100%; */

}